body
{
    margin: 0px;
    padding: 0px;
}
.navigation ul
 {
    list-style-type: none;
   
    padding: 0px;
   
    background-color:green;
}
li
{
    float: right;
    
}
li a
{   
    width: 260px;
    display: block;
  color:whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a 
{
        background-color: #111;
        
      }
      h1
      {
          padding: 20px;
      }