.red{
    background-color: red;
    height: 300px;
    width: 300px;
    margin: 10px;
    padding: 0mm 7px 0mm 7px;
    border-radius: 10px;
    text-align: center;
}
.blue{
    background-color: blue;

    height: 300px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}
.green{
    background-color: green;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    
   

}
  

.purple{
    background-color: purple;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
 
    
   
}